@charset "UTF-8";

/* *(全対象) */
html {
  margin:0;
  padding:0;
}

body {
  margin:0;
  padding:0;
  color:#4a4a4a;
  line-height:1.5;
  background-color:#fff;
}

h1,h2,h3,h4 {
  margin:0 ;
  padding: 0;
  font-weight:bold;
}

h1 {
  font-size:24px;
}

h2 {
  font-size:28px;
  text-align:center;
}

h3 {
  font-size: 18px;
  text-align: center;
}

p,a {
  margin:0;
  padding:0;
  font-size:18px;
  color: #4a4a4a;
}

a {
  text-decoration: none;
}

a:hover {
  opacity:0.7;
}




.inner {
  padding: 70px 50px;
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
}

.line {
  background-color: #4a4a4a;
  width: 55px;
  height: 1px;
  margin: 30px auto 60px;
}

li {
  list-style: none;
}


/* header */
header {
  height: 10vh;
  background-color: #39a383;
  color: #fff;
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  max-width: 980px;
  margin: 0 auto;
}

header ul {
  display: flex;
}

header li {
  padding: 0 20px;
}

header li a {
  color: #fff;
}

/* mainvisual */

.mainvisual {
  height: 80vh;
  background-image: url(images/mainvisual.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.mainvisual h2 {
  text-align: center;
  color: #fff;
  font-size:42px;
  font-weight: bold;
  line-height: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* about */

.about {
  background-color:rgba(100, 57, 7,0.4);
}

.about p {
  line-height: 2.5;
}

/* news */

.news {
  background-color: rgba(67, 167, 125, 0.6);
}

.news ul {
  margin-bottom: 80px;
}

.news li {
  border-bottom: 1px dotted #ccc;
  padding: 5px 0;
}

.news li span {
  margin-right: 30px;
}

.news-btn {
  display: block;
  width: 150px;
  text-align: center;
  color: #4a4a4a;
  background-color: #e2e4e4;
  font-size: 16px;
  margin:0 auto;
  padding:10px 0;
  border: 1px solid #4a4a4a;
  border-radius: 5px;
  box-shadow:0 3px 6px rgba(0,0,0,0.7);
}

.news-btn:hover {
  opacity: 0.7;
}

/* works */

.works {
  background-color:rgba(100, 57, 7,0.4);
}

.works-card-wrapper {
  display: flex;
  justify-content: space-between;
}

.works-card-wrapper:last-child {
  margin-top: 30px;
}

.works-card {
  width: 30%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.7);
}

.works-card img {
  width:100%;
  height:150px;
  object-fit:cover;
}

.works h3 {
  padding: 10px;
}

/* access */
.access {
  background-color: rgba(67, 167, 125, 0.6);
}

iframe {
  font-size: large;
}

/* contact */
.contact {
  background-color: rgba(100, 57, 7,0.4);
}

input {
  width: 600px;
  padding: 10px 0;
  margin-bottom:30px;
}

textarea {
  width: 600px;
  padding: 5px 0 120px 0;
  margin-bottom: 30px;
}

.contact-btn {
  width:150px;
  color: #4a4a4a;
  background-color: #e2e4e4;
  font-size: 16px;
  padding: 10px 0;
  border:1px solid #333;
  border-radius: 5px;
  box-shadow:0 3px 6px rgba(0,0,0,0.7);
}

.contact-btn:hover {
  opacity: 0.7;
}

/* footer */

footer {
  background-color: #3aa786;
  text-align:center;
}

footer p {
  color: #fff;
  padding: 20px 0;
}